html {
	background-image: url(background.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	
}

html:hover {
	cursor: crosshair;
}

body {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 120%;
}

.transparent {
	text-align: center;
	background-color: #f0f0ff;
	border: 3px solid #f0d0f0;
	opacity: 0.5;
	width: 60%;
	margin: auto;
	font-size: 200%;
}

.transparent h1 {
	margin: 2%;
	color: #000000;
}

h2 {
	text-align: center;
	font-size: 160%;
}

section {
	font-size: 90%;
}

#integrantes li {
	font-size: 80%;
	clear: right;
	list-style: none;
	margin-right: 70%;
	border: 1px solid grey;
	margin-top: 5px;
	padding: 3px;
	background-color: white;
	opacity: .7; 
}

#integrantes li:hover, a:hover {
	opacity: 1;
}

footer {
	font-size: 50%;
}
